* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                url('https://i.pinimg.com/736x/fc/da/12/fcda12b3213451b8af4201c2fcfab9f8.jpg'); 
    display: flex;
     backdrop-filter: blur(8px); /* 45% visual blur effect */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 900px;
    height: 550px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    overflow: hidden;
    border-radius: 4px;
}


/* Hero Section */
.hero-side {
    flex: 1;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                url('https://i.pinimg.com/736x/fc/da/12/fcda12b3213451b8af4201c2fcfab9f8.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 30px;
}


.hero-content h1 { font-size: 1.8rem; margin-bottom: 15px; }
.hero-content p { font-weight: 300; font-size: 0.85rem; margin-bottom: 25px; opacity: 0.9; }

/* Login Side */
.form-side {
    flex: 1.4;
    background: white;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo-container { text-align: right; margin-bottom: 40px; }
.logo-text { font-size: 1.4rem; font-weight: bold; color: #444; }
.logo-text span { color: #72be44; }

.login-box h2 {
    color: #72be44;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 35px;
}

.input-group {
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

.input-group label {
    display: block;
    font-size: 0.75rem;
    color: #999;
}

.input-group input {
    width: 100%;
    border: none;
    padding: 10px 0;
    outline: none;
    font-size: 1rem;
    color: #333;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #888;
    margin: 10px 0 30px 0;
}

/* Action Buttons */
.button-row { display: flex; gap: 10px; }

.btn-primary, .btn-outline {
    background: #72be44;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.btn-primary:hover { background: #61a63a; }

.btn-reset {
    background: transparent;
    color: #999;
    border: 1px solid #ddd;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.footer-info {
    position: absolute;
    bottom: 20px;
    left: 60px;
    right: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 0.65rem;
    color: #bbb;
}
